[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django-split-settings = "*"
django-environ = "==0.4.5"
psycopg2-binary = "==2.8.4"
Django = "==2.2.10"

[requires]
python_version = "3.7"
