{% load static %}
{% load total_bookmarks %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Recover Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'assets/password_recovery/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/password_recovery/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/password_recovery/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/password_recovery/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/password_recovery/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'assets/password_recovery/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/password_recovery/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/password_recovery/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'assets/password_recovery/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/password_recovery/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/password_recovery/css/main.css' %}">
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
<!--===============================================================================================-->
</head>
<body>
    {% include "properties_components/header__v2.html" %}

	<div></div>
	<div></div>
	<div class="limiter">
		
		<div class="container-login100">			
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" action="{% url 'properties:forgot-password' %}" method="POST">
					{% csrf_token %}
					<span class="login100-form-title p-b-51">
						Recover Password
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "E-mail is required">
						<input class="input100" type="email" name="email" placeholder="Email">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							reset password
						</button>
					</div>					
				</form>
				<div></div>
				<div></div>
				<br>
				<br>
				<div>
					{% if messages %}
						<div class="col-md-12">
							{% for message in messages %}
								<h2 style="text-align: center;"><span class="btn v1">{{ message }}</span></h2>
							{% endfor %}
						<div>
					{% endif %}
				</div>
			</div>
		
		</div>
		

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'assets/password_recovery/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/password_recovery/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/password_recovery/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'assets/password_recovery/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/password_recovery/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/password_recovery/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'assets/password_recovery/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/password_recovery/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/password_recovery/js/main.js' %}"></script>

</body>
</html>