{% load static %}
<!--Footer Starts-->
<div class="footer-wrapper v2">
    
    <div class="footer-top-area">
        <div class="container">
            <div class="row nav-folderized">
                <div class="col-lg-4 col-md-12">
                    <div class="footer-logo">
                        <a href="{% url 'properties:home' %}"> <img src="{% static 'assets/images/logo-white.png' %}" alt="logo"></a>
                        <div class="company-desc">
                            <p>
                                Darader property is a leading online property portal in Nigeria that helps people easily find the best houses 
                                from the comfort of their homes. We help clients rent and purchase houses that suits their budget.
                            </p>
                            <ul class="list footer-list mt-20">
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fa fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">No. 27 Ekehuan road, Benin city, Edo State, Nigeria</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="text"><a href="mailto: info@darader.com">info@darader.com</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="text">+234-701-629-8676</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 text-center sm-left">
                    <div class="footer-content nav">
                        <h2 class="title">Popular Searches</h2>
                        <ul class="list res-list">
                            <li><a class="link-hov style2" href="{% url 'properties:rent' %}">Property for Rent</a></li>
                            <li><a class="link-hov style2" href="{% url 'properties:sale' %}">Property for Sale</a></li>                        
                            <li><a class="link-hov style2" href="{% url 'properties:all' %}">Recent Properties</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 text-center sm-left">
                    <div class="footer-content nav">
                        <h2 class="title">Quick Links</h2>
                        <ul class="list res-list">
                            <li><a class="link-hov style2" href="{% url 'properties:home' %}">Home</a></li>
                            <!-- <li><a class="link-hov style2" href="{% url 'properties:faq' %}">FAQ</a></li> -->
                            <li><a class="link-hov style2" href="{% url 'properties:contact' %}">Contact us</a></li>
                            <!-- <li><a class="link-hov style2" href="faq.html">Privacy Policy</a></li>
                            <li><a class="link-hov style2" href="faq.html">FAQ</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content">
                        <h4 class="title">Follow us</h4>
                       <!-- <div class="value-input-wrap newsletter">
                            <form action="#">
                                <input type="text" placeholder="Your mail address ..">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div> -->
                        <div class="footer-social-wrap">
                            <!-- <p>Follow us on </p> -->
                            <ul class="social-buttons style2">
                                <li><a target="_blank" href="https://m.facebook.com/Darader-100513208332797/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a target="_blank" href="https://mobile.twitter.com/daraderhomes"><i class="fab fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.pinterest.com/daraderhomes/"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram.com/daraderhomes/"><i class="fab fa-instagram"></i></a></li>                                
                                <li><a target="_blank" href="http://linkedin.com/in/darader-homes-a0b6851a9"><i class="fab fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="https://m.youtube.com/channel/UCFYmxCtLzDvPOvypTC9Gzxw/videos"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <p>
                        ©Darader 2020. All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer ends-->