{% load static %}

<div class="footer-wrapper v1">
        
    <div class="footer-top-area">
        <div class="container">
            <div class="row nav-folderized">
                <div class="col-lg-4 col-md-12">
                    <div class="footer-logo">
                        <a href="index.html"> <img src="{% static 'assets/images/logo-blue.png' %}" alt="logo"></a>
                        <div class="company-desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio excepturi nam totam sequi, ipsam consequatur repudiandae libero illum.
                            </p>
                            <ul class="list footer-list mt-20">
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fa fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">13th North Ave, Florida, USA</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="text"><a href="#">info@sarchholm.com</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="text">+44 078 767 595</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 text-center sm-left">
                    <div class="footer-content nav">
                        <h2 class="title">Popular Searches</h2>
                        <ul class="list res-list">
                            <li><a class="link-hov style2" href="#">Property for Rent</a></li>
                            <li><a class="link-hov style2" href="#">Property for Sale</a></li>
                            <li><a class="link-hov style2" href="#">Condominium for Sale</a></li>
                            <li><a class="link-hov style2" href="#">Resale Properties</a></li>
                            <li><a class="link-hov style2" href="#">Recent Properties</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 text-center sm-left">
                    <div class="footer-content nav">
                        <h2 class="title">Quick Links</h2>
                        <ul class="list res-list">
                            <li><a class="link-hov style2" href="about.html">About us</a></li>
                            <li><a class="link-hov style2" href="contact.html">Contact us</a></li>
                            <li><a class="link-hov style2" href="faq.html">Privacy Policy</a></li>
                            <li><a class="link-hov style2" href="faq.html">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content">
                        <h4 class="title">Subscribe</h4>
                        <div class="value-input-wrap newsletter">
                            <form action="#">
                                <input type="text" placeholder="Your mail address ..">
                                <button class="bg-blue" type="submit">Subscribe</button>
                            </form>
                        </div>
                        <div class="footer-social-wrap">
                            <p>Follow us on </p>
                            <ul class="social-buttons style2">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <p>
                        © SarchHolm 2019. All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>
</div>
