{% extends "property_base.html" %}
{% load static %}
{% load humanize %}

{% load total_properties %}

{% block title %} Find amazing properties in Nigeria {% endblock title %}

    {% block header %}
        {% include "properties_components/header__v1.html" %}
    {% endblock %}

    {% block content %}
        <!--Breadcrumb section starts-->
        <div class="breadcrumb-section bg-h" style="background-image: url('{% static 'assets/images/breadcrumb/contactus.jpg' %}')">
            <div class="overlay op-5"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <div class="breadcrumb-menu">
                            <h2>Contact us</h2>
                            <span><a href="{% url 'properties:home' %}">Home</a></span>
                            <span>Contact us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb section ends-->

        <!--Contact info starts -->
        <div class="contact-info section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="contact-info-item">
                            <i class="fas fa-map-marker-alt"></i>
                            <h4>Corporate Office</h4>
                            <p>No. 27 Ekehuan road, Benin city, Edo State, Nigeria</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="contact-info-item">
                            <i class="fas fa-phone-alt"></i>
                            <h4>Direct Contact</h4>
                            <p><strong>Phone : </strong> +234-701-629-8676</p>
                            <p><strong>Email : </strong> info@darader.com</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="contact-info-item">
                            <i class="fas fa-business-time"></i>
                            <h4>Business Hours</h4>
                            <p><strong>Sunday : </strong> Closed</p>
                            <p><strong>Monday-Friday : </strong>8:30AM - 6PM</p>
                            <p><strong>Saturday : </strong>10AM - 2PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact info ends -->
        <!--Contact section starts-->
        <div class="contact-section v1 mt-10 mb-120">
            <div class="container">
                <div class="contact-map v1">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.4332367155357!2d5.612720951097139!3d6.33788912702726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1040d308895838f1%3A0x4750c3d28fcfe666!2s7%20Ekehuan%20Rd%2C%20Use%2C%20Benin%20City!5e0!3m2!1sen!2sng!4v1588854757340!5m2!1sen!2sng" width="650" height="500"  style="border:0"></iframe>                        
                </div>
                <div class="row">
                    <div class="col-lg-5 offset-lg-6 col-md-12">
                        <div class="section-title v2">
                            <h2>Write to us</h2>
                        </div>
                        <form action="{% url 'properties:contact' %}" method="POST" id="contact_form">
                            {% csrf_token %}
                            <div class="form-control-wrap">
                                <div id="message" class="alert alert-danger alert-dismissible fade"></div>
                                <div class="form-group">
                                    {{ contact_form.name }}
                                </div>
                                <div class="form-group">
                                    {{ contact_form.email }}
                                </div>
                                <div class="form-group">
                                    {{ contact_form.message }}
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn v7" value="Send Message">
                                </div>
                            </div>                            
                        </form>
                        {% if messages %}
                            <div class="col-md-12">
                                {% for message in messages %}
                                    <h2 style="text-align: center;"><span class="btn v1">{{ message }}</span></h2>
                                {% endfor %}
                            <div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!--Contact section ends-->        
    </div>

    {% endblock %}

    {% block footer %}
        {% include "properties_components/footer__v2.html" %}
    {% endblock %}