        <!--Breadcrumb section starts-->
        <div class="breadcrumb-section bg-h" style="background-image: url(images/header/hero_1.jpg)">
            <div class="overlay op-5"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <div class="breadcrumb-menu">
                            <h2>Property Request</h2>
                            <span><a href="home-v1.html">Home</a></span>
                            <span>Property Request</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb section ends-->

        <!--Add Listing starts-->
        <div class="list-details-section section-padding add_list pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">                        
                        <div class="tab-content my-30 add_list_content">
                            <div class="tab-pane fade show active" id="general_info">
                                <h4> <i class="lnr lnr-question-circle"></i> Property Request:</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Catgory</label>
                                        <select class="listing-input hero__form-input  form-control custom-select">
                                            <option>For Sale</option>
                                            <option>For Rent</option>
                                            <option>For Lease</option>                                        
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Property Type</label>
                                        <select class="listing-input hero__form-input  form-control custom-select">
                                            <option>New York</option>
                                            <option>Florida</option>
                                            <option>Las Vegas</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Sub Type</label>
                                        <select class="listing-input hero__form-input  form-control custom-select">
                                            <option>New York</option>
                                            <option>Florida</option>
                                            <option>Las Vegas</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>State</label>
                                        <select class="listing-input hero__form-input  form-control custom-select">
                                            <option>Lagos</option>
                                            <option>Edo</option>
                                            <option>Abuja</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Locality</label>
                                        <select class="listing-input hero__form-input  form-control custom-select">
                                            <option>Ajah</option>
                                            <option>Lekki Phase I</option>
                                            <option>Lekki Phase II</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Area</label>
                                        <select class="listing-input hero__form-input  form-control custom-select">
                                            <option>For Sale</option>
                                            <option>For Rent</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Bedrooms</label>
                                        <select class="listing-input hero__form-input  form-control custom-select">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Budget ₦</label>
                                            <input type="text" class="form-control filter-input" placeholder="200000">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control filter-input">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Full name</label>
                                            <input type="text" class="form-control filter-input">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="text" class="form-control filter-input">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <form>
                                            <div class="form-group">
                                                <label for="list_info">Description</label>
                                                <textarea class="form-control" id="list_info" rows="4" placeholder="Enter your text here"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-12 text-right sm-left">                                
                                        <button class="btn v3" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Add Listing ends-->