{% extends "user_base.html" %}
{% load static %}
{% load humanize %}

{% block title %} Find amazing properties in Nigeria {% endblock %}

    <div class="page-wrapper">
        <!--Sidebar Menu Starts-->
        {% block sidebar %}
            {% include "user_components/dashboard__sidebar.html" %}
        {% endblock %}
        <!--Sidebar Menu ends-->

        {% block content %}
        <!--Dashboard content Wrapper starts-->
        <div class="dash-content-wrap">
            <!-- Top header starts-->
            {% include "user_components/dashboard__header.html" %}
            <!-- Top header ends-->
            <!--Dashboard content starts-->
            <div class="dash-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="recent-activity">
                                <div class="act-title">
                                    <h5>Profile Details</h5>
                                </div>
                                <div class="profile-wrap">
                                    <div class="row mb-50">
                                        <div class="col-lg-5 col-md-6 col-sm-5">
                                            <img src="https://ui-avatars.com/api/?background=6449E7&color=ffffff&name={{user}}&size=351" alt="..." class="img-responsive">
                                        </div>
                                        <div class="col-lg-7 col-md-6 col-sm-7">
                                            <div class="agent-details">
                                                <h3>{% if user.full_name %} {{ user.full_name }} {% else %} {{ user.username }}{% endif %}</h3>
                                                <ul class="address-list">
                                                    {% if user.is_account_manager and user.company.exists %}
                                                        {% for company in user.company.all %}
                                                            <li>
                                                                <span>
                                                                    Company:
                                                                </span>
                                                                {{ company.name }}
                                                            </li>                                                            
                                                            <li>
                                                                <span>
                                                                    Title:
                                                                </span>
                                                                Real Estate {{ company.account_type|title }}
                                                            </li>
                                                            <li>
                                                                <span>
                                                                    Office:
                                                                </span>
                                                                {{ company.office_phone }}
                                                            </li>
                                                        {% endfor %}
                                                    {% endif %}

                                                    {% if user.mobile_phone %}
                                                    <li>
                                                        <span>
                                                            Mobile:
                                                        </span>
                                                        {{ user.mobile_phone }}
                                                    </li>
                                                    {% endif %}
                                                    <li>
                                                        <span>
                                                            Email:
                                                        </span>
                                                        {{ user.email }}
                                                    </li>
                                                    <!-- <li>
                                                        <span>
                                                            Skype:
                                                        </span>
                                                        tony_stark
                                                    </li> -->
                                                </ul>
                                                <ul class="social-buttons style1">
                                                    {% if user.facebook != None %}
                                                        <li><a href="{{ user.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                    {% endif %}

                                                    {% if user.twitter != None %}
                                                        <li><a href="{{ user.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                    {% endif %}

                                                    {% if user.instagram != None %}
                                                        <li><a href="{{ user.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                    {% endif %}
                                                </ul>
                                                <a href="{% url 'users:update-account' %}" class="btn v3 mt-50">Edit profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Dashboard content ends-->
            <!--Dashboard footer starts-->
            {% include "user_components/dashboard__footer.html" %}
            <!--Dashboard footer ends-->
        </div>
        <!--Dashboard content Wrapper ends-->
    </div>
    {% endblock %}