{% extends "user_base.html" %}
{% load static %}
{% load humanize %}

{% block title %} Find amazing properties in Nigeria {% endblock %}

    <div class="page-wrapper">
        {% block sidebar %}
            {% include "user_components/dashboard__sidebar.html" %}
        {% endblock %}

        {% block content %}
        <!--Sidebar Menu ends-->
        <!--Dashboard content Wrapper starts-->
        <div class="dash-content-wrap">
            <!-- Top header starts-->
            {% include "user_components/dashboard__header.html" %}
            <!-- Top header ends-->
            <!-- Dashboard Content starts-->
            <div class="dash-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="recent-activity my-listing">
                                <div class="act-title">
                                    <h5>My Listings</h5>
                                </div>
                                <div class="viewd-item-wrap">
                                    <div class="most-viewed-item">
                                        <div class="most-viewed-img">
                                            <a href="#"><img src="{% static 'assets/images//property/property_1.jpg' %}" alt="..."></a>
                                            <ul class="feature_text">
                                                <li class="feature_or"><span>For Sale</span></li>
                                            </ul>
                                        </div>
                                        <div class="most-viewed-detail">
                                            <h3><a href="single-listing-one.html">Villa on Hartford</a></h3>
                                            <p class="list-address"><i class="fas fa-map-marker-alt"></i>2854 Meadow View Drive, Hartford, USA</p>
                                            <div class="trend-open">
                                                <p><span class="per_sale">starts from</span>$25000</p>
                                            </div>
                                            <div class="ratings">
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star-half"></i>
                                            </div>
                                            <div class="views">Views : <span>178</span></div>
                                        </div>
                                        <div class="listing-button">
                                            <a href="#" class="btn v3"><i class="ion-edit"></i> Edit</a>
                                            <a href="#" class="btn v4"><i class="ion-android-delete"></i> Delete</a>
                                        </div>
                                    </div>
                                    <div class="most-viewed-item">
                                        <div class="most-viewed-img">
                                            <a href="#"><img src="{% static 'assets/images//property/property_3.jpg' %}" alt="..."></a>
                                            <ul class="feature_text">
                                                <li class="feature_or"><span>For Rent</span></li>
                                            </ul>
                                        </div>
                                        <div class="most-viewed-detail">
                                            <h3><a href="single-listing-one.html">Family home in Glasgow</a></h3>
                                            <p class="list-address"><i class="fas fa-map-marker-alt"></i>60 High St, Glasgow, London</p>
                                            <div class="trend-open">
                                                <p>$7500<span class="per_month">month</span></p>
                                            </div>
                                            <div class="ratings">
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star-half"></i>
                                            </div>
                                            <div class="views">Views : <span>124</span></div>
                                        </div>
                                        <div class="listing-button">
                                            <a href="#" class="btn v3"><i class="ion-edit"></i> Edit</a>
                                            <a href="#" class="btn v4"><i class="ion-android-delete"></i> Delete</a>
                                        </div>
                                    </div>
                                    <div class="most-viewed-item">
                                        <div class="most-viewed-img">
                                            <a href="#"><img src="{% static 'assets/images//property/property_2.jpg' %}" alt="..."></a>
                                            <ul class="feature_text">
                                                <li class="feature_or"><span>For Sale</span></li>
                                            </ul>
                                        </div>
                                        <div class="most-viewed-detail">
                                            <h3><a href="single-listing-one.html">Bay view Apartment</a></h3>
                                            <p class="list-address"><i class="fas fa-map-marker-alt"></i>1797 Hillcrest Lane, Boulevard, CA</p>
                                            <div class="trend-open">
                                                <p>$25000<span class="per_month">month</span></p>
                                            </div>
                                            <div class="ratings">
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star-half"></i>
                                            </div>
                                            <div class="views">Views : <span>78</span></div>
                                        </div>
                                        <div class="listing-button">
                                            <a href="#" class="btn v3"><i class="ion-edit"></i> Edit</a>
                                            <a href="#" class="btn v4"><i class="ion-android-delete"></i> Delete</a>
                                        </div>
                                    </div>
                                    <div class="most-viewed-item">
                                        <div class="most-viewed-img">
                                            <a href="#"><img src="{% static 'assets/images//property/property_6.jpg' %}" alt="..."></a>
                                            <ul class="feature_text">
                                                <li class="feature_or"><span>For Sale</span></li>
                                            </ul>
                                        </div>
                                        <div class="most-viewed-detail">
                                            <h3><a href="single-listing-one.html">Apartment in Cecil Lake</a></h3>
                                            <p class="list-address"><i class="fas fa-map-marker-alt"></i>131 midlas , Cecil Lake, BC</p>
                                            <div class="trend-open">
                                                <p><span class="per_sale">starts from</span>$90000</p>
                                            </div>
                                            <div class="ratings">
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star-half"></i>
                                            </div>
                                            <div class="views">Views : <span>45</span></div>
                                        </div>
                                        <div class="listing-button">
                                            <a href="#" class="btn v3"><i class="ion-edit"></i> Edit</a>
                                            <a href="#" class="btn v4"><i class="ion-android-delete"></i> Delete</a>
                                        </div>
                                    </div>
                                </div>
                                 <!--pagination starts-->
                                {% if is_paginated %}
                                <div class="post-nav nav-res pt-50  ">
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2  col-xs-12 ">
                                            <div class="page-num text-center">                                                                                                                                        
                                                <ul>
                                                    {% for i in paginator.page_range %}                                       
                                                        {% if page_obj.number == i %}
                                                            <li class="active"><a href="?{{ qs }}&page={{ page_obj.page_number }}">{{ i }}</a></li>
                                                        {% else %}
                                                            <li><a href="?{{ qs }}&page={{ i }}">{{ i }}</a></li>
                                                        {% endif %}                                                        
                                                    {% endfor %}
                                                    
                                                    {% if page_obj.has_next %}
                                                        <li><a href="?{{ qs }}&page={{ page_obj.next_page_number }}"><i class="lnr lnr-chevron-right"></i></a></li>
                                                    {% endif %}
                                                </ul>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--pagination ends-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dashboard Content ends-->
            <!--Dashboard footer starts-->
            {% include "user_components/dashboard__footer.html" %}
            <!--Dashboard footer ends-->
        </div>
        <!--Dashboard content Wrapper ends-->
    </div>
    {% endblock %}