{% extends "user_base.html" %}
{% load static %}
{% load humanize %}

{% block title %} Find amazing properties in Nigeria {% endblock %}

    <div class="page-wrapper">
        <!--Sidebar Menu Starts-->
        {% block sidebar %}
            {% include "user_components/dashboard__sidebar.html" %}
        {% endblock %}
        <!--Sidebar Menu ends-->

        {% block content %}
        <!--Dashboard content Wrapper starts-->
        <div class="dash-content-wrap">
            <!-- Top header starts-->
            {% include "user_components/dashboard__header.html" %}
            <!-- Top header ends-->
            <!--Dashboard content starts-->
            <div class="dash-content">
                <form id="formData" method="POST" action="{% url 'users:update-account' %}">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="db-add-list-wrap">
                                    <div class="act-title">
                                        <h5>Edit Profile :</h5>
                                    </div>
                                    {{ account_form.non_field_errors }}
                                    <div class="db-add-listing">
                                        <div class="row">
                                            <div class="col-md-4 offset-md-4">
                                                <!-- Avatar -->
                                                <!-- <div class="edit-profile-photo">
                                                    <img src="{% static 'assets/images/agents/agent_1.jpg' %}" alt="">
                                                    <div class="change-photo-btn">
                                                        <div class="contact-form__upload-btn xs-left">
                                                            <input class="contact-form__input-file" type="file" name="photo-upload" id="photo-upload">
                                                            <span>
                                                                Upload Photos
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ account_form.first_name.errors }}
                                                            <label>First name</label>
                                                            {{ account_form.first_name }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ account_form.last_name.errors }}
                                                            <label>Last name</label>
                                                            {{ account_form.last_name }}
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Company name</label>
                                                            <input type="text" class="form-control filter-input" placeholder=" Zillion Properties">
                                                        </div>
                                                    </div> -->
                                                    <!-- <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Your Title</label>
                                                            <input type="text" class="form-control filter-input" placeholder="Real estate Agent">
                                                        </div>
                                                    </div> -->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ account_form.email.errors }}
                                                            <label>Email Address</label>
                                                            {{ account_form.email }}
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Phone(Office)</label>
                                                            <input type="text" class="form-control filter-input" placeholder="+880 252 333">
                                                        </div>
                                                    </div> -->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ account_form.mobile_phone.errors }}
                                                            <label>Mobile Phone</label>
                                                            {{ account_form.mobile_phone }}
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Skype ID</label>
                                                            <input type="text" class="form-control filter-input" placeholder="Tony99">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>About Me</label>
                                                            <textarea class="form-control chat-msg" name="message" rows="4" placeholder="Write About Yourself ..."></textarea>
                                                        </div>
                                                    </div> -->                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="db-add-list-wrap">
                                    <div class="act-title">
                                        <h5>Change Password :</h5>
                                    </div>
                                    <div class="db-add-listing">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ account_form.old_password.errors }}
                                                    <label>Old Password</label>
                                                    {{ account_form.old_password }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ account_form.new_password.errors }}
                                                    <label>New Password</label>
                                                    {{ account_form.new_password }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ account_form.new_password2.errors }}
                                                    <label>Confirm new Password</label>
                                                    {{ account_form.new_password2 }}
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="db-add-list-wrap">
                                    <div class="act-title">
                                        <h5>Social Networks</h5>
                                    </div>
                                    <div class="db-add-listing">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Facebook url</label>
                                                    {{ account_form.facebook }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Twitter url</label>
                                                    {{ account_form.twitter }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Instagram url</label>
                                                    {{ account_form.instagram }}
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="db-add-list-wrap">
                                    <div class="db-add-listing">
                                        <div class="row">
                                            <div class="col-md-6 text-right lg-center">
                                                <input class="btn v3" id="submit" type="submit" value="Submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Dashboard content ends-->
            <!--Dashboard footer starts-->
            {% include "user_components/dashboard__footer.html" %}
            <!--Dashboard footer ends-->
        </div>
        <!--Dashboard content Wrapper ends-->
    </div>
    {% endblock %}