{% extends "user_base.html" %}
{% load static %}
{% load humanize %}

{% block title %} Find amazing properties in Nigeria {% endblock %}

    <div class="page-wrapper">
        <!--Sidebar Menu Starts-->
        {% block sidebar %}
            {% include "user_components/dashboard__sidebar.html" %}
        {% endblock %}
        <!--Sidebar Menu ends-->

        {% block content %}
        <!--Dashboard content Wrapper starts-->
        <div class="dash-content-wrap">
            <!-- Top header starts-->
            {% include "user_components/dashboard__header.html" %}
            <!-- Top header ends-->
            <!--Dashboard content starts-->
            <div class="dash-content">
                <form enctype="multipart/form-data" id="formData" method="POST" action="{% url 'users:update-property' property.id %}">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="db-add-list-wrap">
                                    <div class="act-title">
                                        <h5>General Information :</h5>
                                    </div>
                                    <div class="db-add-listing">
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Property Title</label>
                                                    {{ property_form.title }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    {{ property_form.address }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Neighborhood </label>
                                                    {{ property_form.area }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Select Country</label>
                                                {{ property_form.country }}
                                            </div>
                                            <div class="col-md-4">
                                                <label>Select State</label>
                                                {{ property_form.state }}
                                            </div>                                            
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Zip/Postal Code</label>
                                                    {{ property_form.zipcode }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Select Property Type</label>
                                                {{ property_form.property_type }}
                                            </div>
                                            <div class="col-md-4">
                                                <label>Select Property Status</label>
                                                {{ property_form.property_category }} 
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Property Price</label>
                                                {{ property_form.price }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Property ID</label>
                                                {{ property_form.property_id }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="list_info">Description</label>
                                                    {{ property_form.description }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="db-add-list-wrap">
                                    <div class="act-title">
                                        <h5>Gallery :</h5>
                                    </div>
                                    <div class="db-add-listing">
                                        <div class="row">
                                            <div class="col-md-12 mb-5">
                                                <div class="form-group">                                                    
                                                    <div class="form-group">
                                                        <div class="add-listing__input-file-box">
                                                            {{ gallery_form.image }}
                                                            <div class="add-listing__input-file-wrap">
                                                                <i class="lnr lnr-cloud-upload"></i>
                                                                <p>Click here to upload your images</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                            
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="db-add-list-wrap">
                                    <div class="act-title">
                                        <h5>Property Details :</h5>
                                    </div>
                                    <div class="db-add-listing" id="form-3">                                        

                                            <div class="row mb-30">                                        
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Number of Bedrooms</label>
                                                        {{ property_details_form.bedrooms }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Number of Rooms</label>
                                                        {{ property_details_form.livingrooms }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Number of Bath</label>
                                                        {{ property_details_form.bathrooms }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Number of Toilets</label>
                                                        {{ property_details_form.toilets }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Number of Garages</label>
                                                        {{ property_details_form.parking_spaces }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Property Total Area</label>
                                                        {{ property_details_form.total_area }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Property Occupied Area</label>
                                                        {{ property_details_form.covered_area }}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Amenities</label>
                                                        <div class="filter-checkbox">
                                                            {{ property_details_form.has_basketball_court }}
                                                            <label for="check-a">Basketball court</label>

                                                            {{ property_details_form.has_gym }}
                                                            <label for="check-b">Gym</label>

                                                            {{ property_details_form.is_wheelchair_friendly }}
                                                            <label for="check-c">Wheelchair Friendly</label>

                                                            {{ property_details_form.has_swimming_pool }}
                                                            <label for="check-d">Swimming Pool</label>
                                                        </div>
                                                    </div>
                                                </div>                                        
                                            </div>
                                    </div>
                                </div>
                                <div class="db-add-list-wrap">
                                    <div class="db-add-listing">
                                        <div class="row">
                                            <div class="col-md-6 text-right sm-left">
                                                <input class="btn v3" id="submit" type="submit" value="Submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Dashboard content ends-->
            <!--Dashboard footer starts-->
            {% include "user_components/dashboard__footer.html" %}
            <!--Dashboard footer ends-->
        </div>
        <!--Dashboard content Wrapper ends-->
        {% endblock %}
    </div>

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var formData = $("form#formData");
            $("#submit").click(function(e){                
                $.ajax({
                    type: "POST",
                    dataType: "JSON",                    
                    data: formData.serialize(),
                    success: function(response){
                        formData.reset();
                        console.log("worked!");
                    },
                    error: function(){
                        formData.reset();
                        console.log("failed!");
                    }
                })
            });
        });
    </script>
    {% endblock %}